.Rdata
.idea/
*.mtr
*.epg
*.Rhistory
# Energyplus files
*.grp
*.end
*.epJSON
*.errgrp
*.idd
*.idf
*.csv
*.bnd
*.epJSONout
*.audit
*.eio
*.err
*.eso
*.mdd
*.mtd
*.rdd
*.rvaudit
*.shd
*.svg
*.html
*.pyc
__py_cache__/
